*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
        font-family: arial,sans-serif;
        margin-left: 0;
        padding-top: 20px;
        box-sizing: border-box;
        position: relative;
        color: rgb(35, 35, 35);
} 
/* Navbar 1 */
nav{
    display: flex;
    margin-top: 25px;
}

.google-image{
    padding: 4px 28px 0px 30px;
}

.google-logo{
    height: 30px;
    width: 92px;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dadce0;
    width: 692px;
    height: 46px;
    border-radius: 40px;
    padding-left: 0px;
    box-shadow: 10px#dadce0;
    margin-left: 168px;
    /* width: 79%; */
}

.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 4px 0px 8px;
}

#close{
    padding: 0px 12px;
    color: rgb(112, 117, 112);
    border-right: 1px solid #dadce0;
}

.search-bar-container input{
    height: 35px;
    width: 489px;
    padding: 3px;
    /* padding: 5px 4px 0px 14px; */
    border: none;
}

.icons{
    display: flex;
    /* width: 66px;
    height: 44px; */
    /* justify-content: space-around; */
    align-items: center;
    /* border-left: 1px solid #dadce0; */
}

.mic,.lens,.search{
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    /* padding: 0px 8px; */
}

.mic{
    margin-left: 15px;
}

#search{
    padding-right: 13px;
    width: 24px;
    height: 24px;
    color: blue;
    line-height: 1.2;
}

.top-left-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 152, 152);
    height: 26px;
    width: 26px;
    border-radius: 100px;
}
/* mid body */
.body{
    padding-left: 180px;
}
.main-body{
    margin-right: 250px;
}
/* Navbar 2 */
.nav2{
    display: flex;
    padding-left: 180px;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid  #dadce0;;
}
.nav2a{
    display: flex; 
    height: 55px;
    line-height: 70px;
}
.tools{
    padding-left: 300px;
    line-height: 70px;
}
.safe{
   line-height: 70px; 
   padding-left: 600px;
}
/* Results div */
.results{
    height: 43px;
    line-height: 50px;
    color: #70757A;
    font-size: 14px;
}
.messi{
    margin-top: 4px;
    margin-bottom: 20px;
    padding-top: 8px;
    width: 1121;
    height: 90px;
}
.messiA {
    display: flex;
} 
.messiB{
    display: flex;
    margin-top: 15px;
    margin-left: 30px;
}

.messiA span h2{
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
    font-size: 28px;
    line-height: 36px;
}
.baller{
    display: flex;
    color: 5f5358;
    font-size: 14px;
    margin-top: -15px;
}
#messi-1 a{
    text-decoration-line: none;
    justify-content: center;
}
#messi-2 a{
    text-decoration-line: none;
    justify-content: center;
}
#messi-3 a{
    text-decoration-line: none;
    justify-content: center;
}
#messi-4 a{
    text-decoration-line: none;
    justify-content: center;
}
#messi-1 a p {
    background-color: #E2EEFF; 
    height: 40px;
    padding: 11px 19px;
    border-radius:30px ;
    border: 1px solid rgb(42, 42, 249);
    margin-right: 8px;
}
#messi-2 a p {
    background-color: #E2EEFF; 
    height: 40px;
    padding: 12px 20px;
    border-radius:30px ;
    margin-right: 8px;
}
#messi-3 a p {
    background-color: #E2EEFF; 
    height: 40px;
    padding: 12px 20px;
    border-radius:30px ;
    margin-right: 8px;
}
#messi-4 a p {
    background-color: #E2EEFF; 
    height: 40px;
    padding: 12px 20px;
    border-radius:30px ;
}

.main-one{
    display: flex;
    background-color: rgb(241, 253, 253);
    margin-bottom: 50px;
}
.one{
    object-fit: scale-down;
    padding-right: 3px;
}
.one img{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}



.two{
    object-fit: scale-down;
    padding-right: 25px;

}
.two-A{
    border-top-right-radius: 5%;
}
.two-B{
    border-bottom-right-radius: 5%;
}
.yt{
    height: 318px;
    padding-right: 25px;
}
.tunic{
    padding: 14px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tunic a{
    text-decoration: none;
}
video{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.youtube{
    display: flex;
    font-size: 14px;
    color:#70757A;
}
p.wear{
    margin-top: 8px;
    font-size: 14px;
    color: #202124;
}
p.wore{
    margin-top: 4px;
    font-size: 12px;
    color:#4D5156;
    padding-bottom: 52px;
}
.tunic span p{
    font-size: 12px;
    color: #70757A;
}


.three a{
    text-decoration: none;
}
.four{
    display: flex;
    background-color: white;
    padding-left: 19px;
    width: 252px;
    border-radius: 10px;
}
.blurry img{
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
.ss{
    font-size: 14px;
    color:#70757A;
    padding-bottom: 25px;
}
.four p{
    font-size: 14px;
    color: #202124;
}
.time{
    font-size: 12px;
    color: #70757A;
    padding-top: 20px;
}



.five{
    display: flex;
    margin-top: 25px;
    color: #202124;
}
.five-A{
    width: 120px;
    height: 147px;
    background-color: #b3d2d2;
    margin-right: 15px;
    border-radius: 10px;
}
.age{
    margin-left: 15px;
    margin-top: 15px;
}
.date{
    padding-top: 70px;
    margin-left: 15px;
    font-size: 15px;
}
.five-B{
    width: 120px;
    height: 150px;
    background-color:  #b3d2d2;
    border-radius: 10px;
}
.height{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 80px;
}
.metres{
    margin-left: 15px;
    
}
/* start of main-two */
/* start of left side */

.body-left{
    width: 652px;
    background-color: whitesmoke;
}



.wikipedia{
    display: flex;
}
.wiki{
    margin-right: 12px;
    padding: 0px 4px;
    background-color: #F1F3F4;
}
.pedia{
    color: #202124;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.wiki-link{
    color:#4D5156;
    font-size: 12px;
}
.wkp a{
    text-decoration: none;
}
.wkp p{
    color: #1A0DAB;
    font-size: 20px;
    padding: 10px 0px 0px;
    height: 31px;
    width: 112px;
}
.wikipedia-two{
    display: flex;
}
.andres{
    font-size: 14px;
    color: #4D5156;
    padding-top: 10px;
    padding-bottom: 10px;
 }
.no{
    font-size: 14px;
    stop-color: #70757A;
}
.year{
    color: #70757A;
    font-size: 14px;
}
.year a{
    text-decoration: none;
    color:#1A0DAB;
}
.paris{
    color: #70757A;
    font-size: 14px;
}
.paris a{
    text-decoration: none;
    color: #1A0DAB;
}
.position{
    color: #70757A;
    font-size: 14px;
}
.position a{
    text-decoration: none;
    color: #1A0DAB;
}
.saint{
    padding-left: 170px;
}

.achievements{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.achievements a{
    text-decoration: none;
    color: #1A0DAB; 
    font-size: 14px;
}
/* .nav2a */

.ts{
    color: #202124;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadce0;
}
.top-stories{
    display: grid;
    box-sizing: border-box;
}


.top-stories a{
    text-decoration: none;
    color: #1A0DAB;
    border-bottom: 1px solid #dadce0;
}
.top-stories a:hover{
    text-decoration: underline;
}
.stories-left{
    display: inline-flex;
}
.left-A{
    display: flex;
    width: 325.5px;
    height: 137px;
    padding-right: 12px;
    border-bottom: 1px solid #dadce0;
    margin-top: 12px;
    margin-bottom: 20px;
    border-right: 1px solid #dadce0;
    
}
.lef-A1 {
    margin-bottom: 8px;
    width: 209.5px;
}
.lefty-A1{
    color: #1A0DAB;
    font-size: 16px;
    margin-bottom: 8px;
}
.left-A1 p{
    color: #70757A;
    font-size: 14px;
}
.left-A2{
    margin: 12px 0px 12px 12px;
    padding-bottom: 27px;
}
.left-A2 img{
    border-radius: 7px;
}


.left-B{
    display: flex;
    width: 325.5px; 
    height: 137px;
    padding-left: 12px;
    border-bottom: 1px solid #dadce0;
    margin-top: 12px;
    margin-bottom: 20px;
}
.lef-b1 {
    margin-bottom: 8px;
    width: 209.5px;
}
.lefty-B1{
    color: #1A0DAB;
    font-size: 16px;
    margin-bottom: 8px;
}
.left-B1 p{
    color: #70757A;
    font-size: 14px;
}
.left-B2{
    margin: 12px 0px 12px 12px;
    padding-bottom: 27px;
    float: right;
}
.left-B2 img{
    border-radius: 7px;
}



.stories-right{
    display: inline-flex;
}
.right-A{
    display: flex;
    width: 325.5px;
    height: 137px;
    /* border-bottom: 1px solid #dadce0; */
    margin-top: 12px;
    margin-bottom: 20px;
    border-right: 1px solid #dadce0;
}

.righ-A1 {
    margin-bottom: 8px;
    width: 209.5px;
}
.righty-A1{
    color: #1A0DAB;
    font-size: 16px;
    margin-bottom: 8px;
}
.right-A1 p{
    color: #70757A;
    font-size: 14px;
}
.right-B2{
    margin: 12px 0px 12px 12px;
    padding-bottom: 27px;
}
.right-A2 img{
    border-radius: 7px;
    margin-left: 12px;
}


.right-B{
    display: flex;
    width: 325.5px;
    height: 137px;
    padding-left: 12px;
    /* border-bottom: 1px solid #dadce0; */
    margin-top: 12px;
    margin-bottom: 20px;
}
.righ-b1 {
    margin-bottom: 8px;
    width: 209.5px;
}
.righty-B1{
    color: #1A0DAB;
    font-size: 16px;
    margin-bottom: 8px;
}
.right-B1 p{
    color: #70757A;
    font-size: 14px;
}
.right-B2{
    margin: 12px 0px 12px 12px;
    padding-bottom: 27px;
}
.right-B2 img{
    border-radius: 7px;
}
/* }
.more-news{
    align-items: center;
    background-color: rgb(241, 243, 244);
    color: rgb(26, 13, 171);
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 18px;
    font-weight: 400;
    margin: auto;
    margin-top: -30px;
    line-height: 18px;
    position: relative; 
    display: flex;
} */
.more-news:hover{
    background-color: #D8D7DC;
    max-width: 300px;
    border-radius: 18px;
    justify-items: center;
}
.more-news{
    /* margin-top: -20px; */
    color: #202124;
    height: 36px;
    max-width: 300px;
    margin: auto;
    justify-content: center;
    text-align: center;
    justify-items: center;
    display: flex;
    border-radius: 18px;
    background-color: #F1F3F4;
}
.more-news a{
    text-decoration: none;
}


.summary{
    width: 652px;
    height: 228px;
   
}
.ask{
    font-size: 22px;
    height: 42px;
    color: #202124;
    border-bottom:  1px solid #dadce0;
    
}
details summary {
    list-style: none;
}
.summary1{
    display: flex;
    justify-content: space-between;
    gap: 240;
    height: 42px;
    cursor: pointer;
    /* line-height: 40px; */
    align-items: center;
    border-bottom:  1px solid #dadce0;
}
.summary2{
    display: flex;
    justify-content: space-between;
    gap: 240;
    height: 42px;
    cursor: pointer;
    /* line-height: 40px; */
    align-items: center;
    border-bottom:  1px solid #dadce0;
}
.summary3{
    display: flex;
    justify-content: space-between;
    gap: 250;
    height: 42px;
    cursor: pointer;
    /* line-height: 40px; */
    align-items: center;
    border-bottom:  1px solid #dadce0;
}
.summary4{
    display: flex;
    justify-content: space-between;
    gap: 240;
    height: 42px;
    cursor: pointer;
    align-items: center;
    border-bottom:  1px solid #dadce0;
    padding-bottom: 10px;
    /* line-height: 40px; */
}
.feedback {
    height: 16px;
    color: #70757A;
    font-size: 12px;
    float: right;
    align-items:center;
    position: relative;
    bottom: 7px;
    z-index: 100;
    /* border-bottom:  1px solid #dadce0; */
    

}
.feedback a{
    text-decoration: none;
}


.m{
    display: flex;
    margin-top: 40px;
}
.mirror{
    display: flex;
}
/* .mirror-img{
    clip-path: circle();
    background-color: red;
    padding: 5px;
} */
.mlink{
    font-size: 12px;
    color: #4D5156;
    margin-left: 12px;
    margin-top: -7px; 
}

.mlink-A a{
    text-decoration: none;
} 
.mlink-A{
    padding-left: 10px;
}
.mirror2 img{
    border-radius: 7px;
}
.transfers{
    color: #1A0DAB;
    font-size: 20px;
    padding-top: 7px;
}
.transfers a{
    text-decoration: none;
}
.transfers a:hover{
    text-decoration: underline;
}
.la-liga{
    font-size: 14px;
    color: #4D5156;
    padding-top: 10px;
    padding-bottom: 12px;
}

.searches{
    padding-left: 15px;
    border: 1px solid #dadce0;
    margin-top: 30px;
}
.search-list{
    display: flex;
}
.search-for{
    color: #70757A;
    font-size: 14px;
    width: 563px;
    height: 22px;
    margin: 14px 20px 4px 0px;
}
.img-search img{
    cursor: pointer;
}
.search-lists{
    display: flex;
    font-size: 14px;
}
.search-lists li{
    list-style: none;
}
.sl-one a{
    text-decoration: none;
}
.sl-one li{
    color: #1A0DAB;
    margin: 0px 16px 0px 0px;
    width: 79px;
    height: 24px;
} 
.sl-two a{
    text-decoration: none;
}
.sl-two li{
    color: #1A0DAB;
    margin: 0px 16px 0px 0px;
    width: 79px;
    height: 24px;
} 
.insta{
    display: flex;
    padding-top: 35px;
}
/* }.insta img{
    display: inline;
} */
.icons img{
border-radius: 50%;
/* height: 18px;
width: 18px; */
}
.goal li{
    list-style: none;
}
.goal{
    display: flex;
    padding-top: 20px;
}
.goal-A li{
    /* width: 69px;
    height: 16px; */
    color: #70757A;
    font-size: 14px;
}
.goal-B a {
     text-decoration: none;
     color: #1A0DAB;
}
.goal-B{
    /* width: 81px;
    height: 16px; */
    font-size: 14px;
    margin-left: 20px;
}
.goal-B a li:hover{
    text-decoration: underline;
}


.ig-A{
    margin-top: -7px;
}
.ig-A a{
    text-decoration: none;
}
.instagram{
    margin-right: 12px;
    padding: 0px 4px;
    background-color: #F1F3F4;
    border-radius: 50px;
}
.ig{
    color: #202124;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.ig-link{
    color:#4D5156;
    font-size: 12px;
}
.ig-link a{
    text-decoration: none;
}
.leo-link a{
    text-decoration: none;
    font-size: 20px;
    margin: 18px 0px 3px;
    padding: 5px 0px 0px;
    color: #1A0DAB;
}

.leo-link a:hover{
   text-decoration: underline;
}
.cuenta{
    color: #4D5156;
    font-size: 14px;

}
/* end of left side */